<style>
    label {
        text-align: left !important;
    }
</style>

<div class="panel panel-primary">
    <div class="col-md-12">
        <h1 class="TitleModule">PHÂN LOẠI DỰ ÁN</h1>
    </div>

    <div class="panel-body">
        <div class="form-horizontal">
            <div class="col-md-12">
                <div class="col-md-12">

                    <div class="col-md-12">
                        <div id="gridContainer"></div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const data = [
        {
            id: '1',
            name: 'Tính chất 1',
        },
        {
            id: '2',
            name: 'Tính chất 2',
        },
        {
            id: '3',
            name: 'Tính chất 3',
        },
    ];


    function InitExtreme() {
        $('#gridContainer').dxDataGrid({
            dataSource: data,

            showBorders: true,
            showColumnLines: true,
            wordWrapEnabled: true,
            showRowLines: true,
            remoteOperations: {
                filtering: true,
                paging: true,
                sorting: false,
                groupPaging: false,
                grouping: false,
                summary: true
            },
            hoverStateEnabled: true,
            scrolling: { mode: 'virtual' },
            height: '100%',
            keyExpr: 'id',
            showColumnHeaders: true,
            selection: { mode: 'multiple' },
            onCellPrepared: function (event) {
                if (event.rowType === 'header' && event.column.command == "select") {

                    var commandCell = event.cellElement;
                    commandCell.html("Sử dụng");
                }
            },
            columns: [
                {
                    dataField: 'id',
                    caption: 'Stt',
                    width: '5%',
                    alignment: 'center',
                },
                {
                    dataField: 'name',
                    caption: 'Tên',
                    alignment: 'left',
                    width: '80%',
                },
                {
                    type: 'selection',
                    width: '5%'
                },
                {
                    caption: 'Sửa',
                    width: '5%',
                    alignment: 'center',
                    cellTemplate: function (container, cellInfo) {
                        $("<div>").append($("<img>", {
                            "class": "clsbtnCursor",
                            "src": "/Images/edit.png",
                        })).on('dxclick', function () {
                            $('#gridContainer').dxDataGrid('instance').editRow(cellInfo.rowIndex);
                        }).appendTo(container);
                    }
                },
                {
                    caption: 'Xóa',
                    width: '5%',
                    alignment: 'center',
                    cellTemplate: function (container, options) {
                        $("<div>").append($("<img>", {
                            "class": "clsbtnCursor",
                            "src": "/Images/xoa.png",
                        })).on('dxclick', function () {
                            $('#gridContainer').dxDataGrid('instance').deleteRow(options.rowIndex);
                        }).appendTo(container);
                    }
                },
            ],
        })
    }

    $(document).ready(function () {
        InitExtreme();
    })

</script>