<style>
    label {
        text-align: left !important;
    }
</style>

<div class="panel panel-primary">
    <div class="col-md-12">
        <h1 class="TitleModule">Danh Sách Tiếp Nhận</h1>
    </div>

    <div class="panel-body">
        <div class="form-horizontal">
            <div class="col-md-12">
                <div class="col-md-12">


                    <div class="col-md-12">
                        <label class="control-label col-md-2">Chủ đầu tư</label>
                        <div class="col-md-4">
                            <div id="selectChuDauTu"></div>
                        </div>

                        <div class="col-md-2">
                            <label class="control-label col-md-12">Tên dự án</label>
                        </div>
                        <div class="col-md-4">
                            <div id="txtTenDuAn"></div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <label class="control-label col-md-2">Thời gian thực hiện từ</label>
                        <div class="col-md-4">
                            <div id="txtThoiGianThucHienTu"></div>
                        </div>

                        <div class="col-md-2">
                            <label class="control-label col-md-12">Thời gian thực hiện đến</label>
                        </div>
                        <div class="col-md-4">
                            <div id="txtThoiGianThucHienDen"></div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <label class="control-label col-md-2">Loại dự án</label>
                        <div class="col-md-4">
                            <div id="selectLoaiDuAn"></div>
                        </div>

                        <a style="float: right;">
                            <img src="~/Images/save2.png" />
                        </a>
                    </div>

                    <div class="col-md-12" style="text-align: center; margin-top: 10px;">
                        <a class="btn btn-default" onclick="sendSearchRequest()">
                            <img src="~/Images/search.png" />
                            Tìm kiếm
                        </a>
                    </div>


                    <div class="col-md-12" style="margin-top: 20px;">
                        <div id="gridContainer"></div>
                    </div>
                    <script type="text/html" id="content_template">
                        <div id="gridInPopup"></div>
                    </script>

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var urlChiTiet = '@Html.Raw(Url.Action("TaoDuAn", "DuAn"))';

    //let _arrChuDauTu = [];
    //_arrChuDauTu.push({ donViId: 0, tenDonVi: 'Xem tất cả' });

    //let donViDauTu = SendRequest('http://localhost:8083/api/DanhMuc/GetAllDonViDauTu');
    //if (Array.isArray(donViDauTu)) {
    //    _arrChuDauTu = _arrChuDauTu.concat(donViDauTu);
    //}

    let _arrChuDauTu = SendRequest('http://localhost:8083/api/DanhMuc/GetAllDonViDauTu');

    let _arrLoaiDuAn = SendRequest('http://localhost:8083/api/DanhMuc/GetAllLoaiDauTu');

    const data = [
        { id: 1, name: "DuAn1", content: "...", date: "...", total: "....", state: "..." },
        { id: 2, name: "DuAn2", content: "...", date: "...", total: "....", state: "..." }
    ];

    const _arrChuyenTiep = [
        { id: 1, name: 'Ban giám đốc', },
        { id: 2, name: 'Kế hoạch tài chính', }
    ]

    //------------------------------------------------------------
    function InitExtreme() {
        $('#selectChuDauTu').dxSelectBox({
            placeholder: 'Chọn chủ đầu tư...',
            items: _arrChuDauTu,
            displayExpr: 'tenDonVi',
            valueExpr: 'donViId',
            showClearButton: true,
        })

        $('#txtTenDuAn').dxTextBox({}).dxTextBox('instance')

        $('#txtThoiGianThucHienTu').dxDateBox({
            displayFormat: 'dd/MM/yyyy',
            onValueChanged: function (e) {
                var fromDate = e.value;
                var toDate = $('#txtThoiGianThucHienDen').dxDateBox('option', 'value');

                if (fromDate && toDate && fromDate > toDate) {
                    $('#txtThoiGianThucHienTu').dxDateBox('option', 'value', null);
                    alert('Ngày bắt đầu không được lớn hơn ngày kết thúc.');
                }
            }
        });

        $('#txtThoiGianThucHienDen').dxDateBox({
            displayFormat: 'dd/MM/yyyy',
            onValueChanged: function (e) {
                var fromDate = $('#txtThoiGianThucHienTu').dxDateBox('option', 'value');
                var toDate = e.value;

                if (fromDate && toDate && fromDate > toDate) {
                    $('#txtThoiGianThucHienDen').dxDateBox('option', 'value', null);
                    alert('Ngày kết thúc không được nhỏ hơn ngày bắt đầu.');
                }
            }
        });

        $('#selectLoaiDuAn').dxSelectBox({
            placeholder: 'Chọn loại dự án...',
            items: _arrLoaiDuAn,
            displayExpr: 'tenLoaiDauTu',
            valueExpr: 'loaiDauTuId',
            showClearButton: true,
        })

        $("#gridContainer").dxDataGrid({
            dataSource: data,
            showBorders: true,
            showColumnLines: true,
            wordWrapEnabled: true,
            showRowLines: true,
            remoteOperations: {
                filtering: true,
                paging: true,
                sorting: false,
                groupPaging: false,
                grouping: false,
                summary: true
            },
            selection: {
                mode: 'single',
                showCheckBoxesMode: 'always',
                selectAllMode: 'page',
            },
            grouping: {
                autoExpandAll: true,
            },
            columns: [
                {
                    caption: 'Stt',
                    alignment: 'center',
                    cellTemplate: function (cellElement, cellInfo) {
                        cellElement.text(cellInfo.row.rowIndex + 1);
                    }
                },
                {
                    caption: 'Tên dự án',
                    width: '20%',
                    alignment: 'left',
                    dataField: 'tenDuAn',
                },
                {
                    caption: 'Nội dung và quy mô',
                    width: '25%',
                    alignment: 'left',
                    dataField: 'noiDungVaQuyMo',
                },
                {
                    caption: 'Thực hiện từ',
                    width: '10%',
                    alignment: 'left',
                    dataField: 'thucHienTuNgay',
                    dataType: 'date',
                    format: 'dd/MM/yyyy',
                    alignment: 'center',
                },
                {
                    caption: 'Thực hiện đến',
                    width: '10%',
                    alignment: 'left',
                    dataField: 'thucHienDenNgay',
                    dataType: 'date',
                    format: 'dd/MM/yyyy',
                    alignment: 'center',
                },
                {
                    caption: 'Tổng mức đầu tư',
                    width: '10%',
                    alignment: 'left',
                    dataField: 'tongMucDauTu',
                },
                {
                    caption: 'Trạng thái',
                    width: '15%',
                    alignment: 'left',
                    dataField: 'trangThai.tenTrangThai',
                },
                {
                    caption: 'Xử lý',
                    width: '5%',
                    alignment: 'center',
                    cellTemplate: function (container, options) {

                        var dataSource = [
                            {
                                id: '1_1',
                                name: 'Xem'
                            },
                            {
                                id: '1_2',
                                name: 'Chuyển'
                            }
                        ]

                        var menuData = [{
                            id: '1',
                            name: '',
                            icon: "/Images/setting.png",
                            items: dataSource
                        }];

                        $("<div>").dxMenu({

                            dataSource: menuData,
                            displayExpr: 'name',
                            onItemClick: function (e) {
                                var id = e.itemData.id;

                                if (id === '1_1') {
                                    var dataGrid = $('#gridContainer').dxDataGrid('instance');
                                    var rowIndex = dataGrid.getRowIndexByKey(dataGrid.getSelectedRowKeys()[0]);

                                    var dataSource = dataGrid.getDataSource();
                                    var itemsArray = dataSource.items();
                                    var rowData = itemsArray[rowIndex];
                                    var duAnId = rowData.id;

                                    window.location.href = urlChiTiet + "?Id=" + duAnId + "&view=1";
                                }

                                if (id === '1_2') {
                                    ShowPopUp().then(function (a, s) {
                                        ///if (a)
                                           // $('#txtSelection').text("You selected : " + s[0].FirstName + " " + s[0].LastName);
                                        //else
                                           // $('#txtSelection').text("");
                                    })
                                }
                            }
                        }).css("text-align", "center").appendTo(container);
                    }
                }
            ],
        });

    }

    //const OnlyView = (Id) => window.location.href = urlChiTiet + "?Id=" + Id + "&view=1";

    //------------------------------------------------------------
    function ShowPopUp() {
        buttonItems = [
            {
                toolbar: 'bottom', location: 'after', widget: 'button',
                options: {
                    text: 'OK',
                    onClick: function () {
                        var e = $("#popupContainer").dxPopup("instance")
                        e.element().attr('act', 1);
                        e.hide();
                    }
                }
            },
            {
                toolbar: 'bottom', location: 'after', widget: 'button', options: {
                    text: 'Cancel', onClick: function () {
                        var e = $("#popupContainer").dxPopup("instance");
                        e.element().attr('act', 0);
                        e.hide();
                        console.log(e);
                    }
                }
            }
        ];

        var defer = $.Deferred();
        if ($('#popupContainer').length <= 0) {
            $("html").prepend('<div id="popupContainer"></div>');
        }
        const popup = $('#popupContainer').dxPopup({
            contentTemplate: $('#content_template'),
            showTitle: true,
            title: 'Chuyển Tiếp',
            buttons: buttonItems,
            showCloseButton: true,
            width: 480,
            height: 550,
            dragEnabled: false,
            visible: false,
            hideOnOutsideClick: true,
            showCloseButton: true,
            toolbarItems: [{
                widget: 'dxButton',
                toolbar: 'bottom',
                location: 'center',
                options: {
                    icon: 'email',
                    text: 'Gởi',
                    onClick() {
                        const message = 'Send Success';
                        DevExpress.ui.notify({
                            message,
                            position: {
                                my: 'center top',
                                at: 'center top',
                            },
                        }, 'success', 3000);

                    },
                },
            }],
            onShown: function (e) {
                e.element.attr('act', 0);
                $("#gridInPopup").dxDataGrid({

                    dataSource: _arrChuyenTiep,

                    showBorders: true,
                    showColumnLines: true,
                    wordWrapEnabled: true,
                    showRowLines: true,
                    remoteOperations: {
                        filtering: true,
                        paging: true,
                        sorting: false,
                        groupPaging: false,
                        grouping: false,
                        summary: true
                    },
                    hoverStateEnabled: true,
                    scrolling: { mode: 'virtual' },
                    height: '100%',
                    keyExpr: 'id',
                    showColumnHeaders: true,
                    selection: { mode: 'multiple' },

                    columns: [
                        {
                            caption: 'Stt',
                            dataField: 'id',
                            width: '10%',
                            alignment: 'center',
                        },
                        {
                            caption: 'Tên phòng ban',
                            dataField: 'name',
                            width: '90%',
                            alignment: 'left',
                        },
                        {
                            type: 'selection',
                            width:'5%',
                        }
                    ],

                });

            },
            onHidden: function (e) {
                if (e.element.attr('act') == "1") {
                    defer.resolve(true, $("#gridInPopup").dxDataGrid("instance").getSelectedRowsData());
                }
                else {
                    defer.resolve(false, []);
                }
            },
            animation: {
                show: { type: "slide", from: { opacity: 1, top: -$(window).height() }, to: { top: 50 } },
                hide: { type: "slide", from: { top: 50 }, to: { top: -$(window).height() } }
            }
        });

        $("#popupContainer").dxPopup("instance").show();
        return defer.promise();
    }

    //------------------------------------------------------------
    function LoadAllDuAn() {
        var _arrDuAn = SendRequest('http://localhost:8083/api/DuAn/GetAllDuAn');
        $('#gridContainer').dxDataGrid('instance').option('dataSource', _arrDuAn);
    }

    //------------------------------------------------------------
    function sendSearchRequest() {
        $.ajax({
            type: 'POST',
            url: 'http://localhost:8083/api/DuAn/GetDuAnBySearch',
            headers: {
                "accept": "*/*",
                "Content-Type": "application/json"
            },
            data: JSON.stringify({
                chuDauTuId: $('#selectChuDauTu').dxSelectBox('instance').option('value'),
                tenDuAn: $('#txtTenDuAn').dxTextBox('instance').option('value'),
                thucHienTuNgay: $('#txtThoiGianThucHienTu').dxDateBox('option', 'value'),
                thucHienDenNgay: $('#txtThoiGianThucHienDen').dxDateBox('option', 'value'),
                loaiDuAnId: $('#selectLoaiDuAn').dxSelectBox('instance').option('value'),
                trangThaiId: 3,
                pageIndex: 1,
                pageSize: 10,
            }),
        }).done(function (response) {
            $('#gridContainer').dxDataGrid('option', 'dataSource', response);
        }).fail(function (xhr) {
            console.log(xhr.responseJSON.Message + ": " + xhr.statusText);
        });
    }

    //------------------------------------------------------------
    $(document).ready(function () {
        InitExtreme();
        sendSearchRequest();
    })

</script>